[submodule "thirdparty/workflow"]
	path = thirdparty/workflow
	url = https://github.com/sogou/workflow.git
[submodule "thirdparty/workflow_annotation"]
	path = thirdparty/workflow_annotation
	url = https://github.com/chanchann/workflow_annotation.git
